@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%; /* Adjust the zoom level as needed */
  }
}

.bg-zoom {
  animation: zoomBackground 10s ease-in-out forwards; /* Adjust duration and easing */
}

html {
  scroll-behavior: smooth;
}

/* Force Light Mode Styles */
.light {
  --bg-color: #ffffff;
  --text-color: #333333;
}

.light .stats-block {
  background-color: var(--bg-color);
  color: var(--text-color);
}
